body { 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  background-size: cover;
}

#maintable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 750px;
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border: 3px solid white;
  border-radius: 4px;
  padding: 3px;
  width: 800px;
}

#customers td, #customers th {
  border: 4px solid black;
  border-radius: 6px;
  padding: 3px;
  font-size: 18px;
}

#customers th {
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: left;
  background-color: #002277;
  color: yellow;
  font-size: 28px;
  border-radius: 5px;
}

#customers tr:nth-child(even){
	background-color: #ddbbee;
	line-height: 12px;
}
#customers tr:nth-child(odd){
	background-color: #aa88ee;
	line-height: 12px;
}
