body {
  background-image: url("/images/035.jpg");
  
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  background-size: cover;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  outline: none;
  color: #eeeeee;
  background-color: #0843a1;
  border: none;
  border-radius: 14px;
  box-shadow: 5px 5px #111111;
  width: 640px;
  line-height: 10px;
}

.button:hover {
  color: #ffffff;
  background-color: #555555;
  font-size: 20px;
}

.button:active {
  color: #ffffff;
  background-color: #000000;
  box-shadow: 5px 5px #666;
  transform: translateY(4px);
}

.button2 {
  display: inline-block;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  outline: none;
  color: #ffffff;
  background-color: #DD2222;
  border: none;
  border-radius: 14px;
  box-shadow: 5px 5px #111111;
  width: 640px;
  line-height: 10px;
}

.button2:hover {
  color: #ffffff;
  background-color: #555555;
  font-size: 20px;
}

.button2:active {
  color: #ffffff;
  background-color: #000000;
  box-shadow: 5px 5px #666;
  transform: translateY(4px);
}

.button3 {
  display: inline-block;
  padding: 15px 25px;
  font-size: 20px;
  font-style: italic;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  outline: none;
  color: #f4f716;
  background-color: #022c70;
  border: none;
  border-radius: 14px;
  box-shadow: 5px 5px #111111;
  width: 640px;
  line-height: 10px;
}

.button3:hover {
  color: #ffffff;
  background-color: #555555;
  font-size: 20px;
}

.button3:active {
  color: #ffffff;
  background-color: #000000;
  box-shadow: 5px 5px #666;
  transform: translateY(4px);
}

#spacer {
  line-height: 1px;
  background-color: #222222;
}

#maintable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 800px;
}

#headerA {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border: 3px solid white;
  border-radius: 4px;
  padding: 3px;
  width: 800px;
  font-size: 28px;
  background-color: #111188;
  color: yellow;
  line-height: 45px;
}

#headerB {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 5px;
  width: 800px;
  background-color: #22BB22;
  color: white;
  line-height: 32px;
}

#headerC {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 5px;
  width: 800px;
  background-color: #222222;
  color: white;
  line-height: 22px;
}

.th {
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: left;
  background-color: #002277;
  color: yellow;
  font-size: 28px;
}

.td {
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: left;
  background-color: #002277;
  color: yellow;
  font-size: 28px;
  line-height: 14px;
}